<html>
	<head>
		{% if title %}
		<title>{{ title }} - ZFRED</title>
		{% else %}
		<title>ZFRED</title>
		{% endif %}
	</head>
	<body>
	    <h4>
            <a href="{{ url_for('newList') }}">New List</a> |
            <a href="{{ url_for('viewList') }}">View List</a> |
            <a href="{{ url_for('clearList') }}">Clear List</a> |
            <a href="{{ url_for('recipeCardList', setLimit=10) }}">Recipes</a>
        </h4>
        <hr/>

		{% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
		{% block content %}{% endblock %}
	</body>
</html>